
html, body {
    padding: 0;
    margin: 0;
    font-family: "Stanley_Regular";
    background-color: $black;
    color: $white;
    position: relative;
    height: 100%;
}

html {
    @extend .full;
    overflow-x: hidden;
}

body {
    // font smoothing
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

section#main-container {
    position: relative;
    top: $HEADER_H + $OVERALL_PADDING;
}

html, body {
    @extend .full;
    padding: 0;
    margin: 0;
    @extend .text-font;
    background-color: $black;
    color: $white;
}

html {
    overflow-x: hidden;
    // overflow-y: scroll;
}

body {
    background-color: $black;
    color: $white;
    a { color: $white; }
    &.frozen {
        overflow: hidden;
    }
}

#landscape {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    background-color: $black;

    text-align: center;

    div {
        display: table;
        width: 100%;
        height: 100%;
    }

    p {
        display: table-cell;
        vertical-align: middle;
        padding: 24px;
        box-sizing: border-box;

        @extend .text-font;
        font-size: 16px;
        line-height: 19px;
    }
}

#container  {
    
    // font smoothing
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

    cursor: default;

    // overall text params
    font-size: $globalFontSize;

    position: absolute;
    @extend .full;
}

#template {
    @extend .full;
}

#pagesContainer {
    position: relative;
    @extend .full;
}

.pages, .page {
    @extend .full;
    position: absolute;
}

.page {
    opacity: 0;

    &.page--admin {
        opacity: 1;
    }
}

.page--admin .page__content {
    width: 900px !important;
}

.page--classic .page__content {
    width: 720px;
    margin: 0 auto;
    padding-top: 160px;
    padding-bottom: 60px;
}

.bg-video {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    text-align: center;

    // &:after {
    //  content: '';
    //  @extend .vertical-center;
    //  width: 110%;
    //  height: 110%;

    //  background-color: #000;
    //  opacity: 0.8;
    // }
}

.bg-video__file {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: calc(100vh - 206px);
}

.bg-video__overlay {
    @extend .full;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 30;

    visibility: visible;
    opacity: 0.8;
    transition: opacity 0.4s ease-out, visibility 0.4s steps(1, start);

    &.home__overlay {
        transition: opacity 1s ease-out, visibility 1s steps(1, start);
    }
}

.bg-video__overlay--hidden {
    @extend .hidden;
    &.home__overlay {
        transition: opacity 1s ease-out, visibility 1s steps(1, end);
    }
}

.button {
    // display: block;

    @extend .title-font;
    font-size: 18px;
    line-height: 18px;
    transition: opacity 0.2s ease-out;
    cursor: pointer;
    &:hover { opacity: 0.2 !important; }
}
.button--enabled {
    opacity: 0.2 !important;
}
.button--footer {
    @extend .text-font;
    font-size: 10px;
    line-height: 12px;
}
.button--margin {
    margin-bottom: 70px;
}

.column {
    width: 338px;
    display: inline-block;
    vertical-align: top;

    &:first-child {
        padding-right: 20px;
    }
    &:last-child {
        padding-left: 20px;
    }

    .paragraph {
        margin-bottom: 30px;
        &:last-child { margin-bottom: 70px; }
    }
}

.paragraph {
    margin-bottom: 70px;
    text-align: left;
}

.paragraph--margin span {
    display: block;
    margin-bottom: 24px !important;
    
    &.paragraph__inline {
        display: inline;
        margin-bottom: 0 !important;
    }
}

.paragraph__title {
    display: block;
    text-align: center;
    margin-bottom: 12px !important;
}

.paragraph__title--margin {
    margin-top: 24px;
}


.paragraph--2 {
    column-count: 2;
    column-gap: 40px;

    span { margin-bottom: 0; }
}

.table, .table th, .table td {
    border: 1px solid $white;
}

.table {
    width: 100%;

    th {
        padding: 16px 10px;
    }

    td {
        padding: 10px;
    }
}

.js-reveal {
    display: block;
    opacity: 0;
    transform: translate(0, 70px);
}

$border-width: 1px;
.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    
    border: 0 solid $white;
    border-width: $border-width 0 0 $border-width;
    
    transform-origin: top left;
    transform: rotate(-45deg) translate(-50%, -50%);
    
    &:before {
        content: '';
        display: block;
        width: 12px;

        border: 0 solid $white;
        border-top-width: $border-width;

        transform-origin: top left;
        transform: rotate(45deg) translate(0, ($border-width/2)*-1);

        transition: width 0.3s ease-out;
    }
}

.arrow--right {
    transform: rotate(-225deg) translate(-50%, -50%);
}

.arrow--black, .arrow--black:before { border-color: $black; }

.discover {
    position: relative;
    
    font-size: 16px;
    text-align: center;
}

.discover__arrow {
    width: 36px;
    height: 36px;
    margin: 0 auto;

    cursor: pointer;

    transform-origin: 50% 50%;
    transform: rotate(-90deg) translate(-50%, 0);

    &:hover {
        .arrow:before {
            width: 30px;
        }
    }
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    z-index: 1000;

    background-image: url('/static/img/cursor_more.png');
    pointer-events: none;

    &.cursor--hidden {
        display: none;
    }

    &.cursor--more {
        background-image: url('/static/img/cursor_more.png');
    }

    &.cursor--less {
        background-image: url('/static/img/cursor_less.png');
    }
}

.ytp-icon-watermark {
    display: none !important;
}

@include max-screen(958px) {
    .cursor {
        display: none;
    }
    .button {
        &:hover { opacity: 1 !important; }
    }
    .bg-video__file {
        top: 0;
        width: auto;
        height: 100%;
    }
    .column {
        width: 100%;
        display: block;

        &:first-child {
            padding-right: 0;
        }
        &:last-child {
            padding-left: 0;
        }
        .paragraph {
            margin-bottom: 30px;
            &:last-child { margin-bottom: 70px; }
        }
    }
    .paragraph--2 {
        column-count: 1;
        column-gap: 0;
    }
    .js-reveal {
        // display: block;
        opacity: 1;
        transform: none;
    }
    .page {
        position: relative;
    }
    .page--classic .page__content {
        width: 100%;
        padding: 100px 24px 60px;
        box-sizing: border-box;
    }
}
