#checkout-page, #account-page, #wishlist-page, #center_column {
	$main-button-width: 260px;
	width: $MAIN_CONTAINER_W;
	margin: 0 auto;
	text-align: center;
	@include max-screen($MQ_LARGE) {
		width: 90%;
	}
	& > h3 {
		margin: $OVERALL_PADDING 0;
		@include max-screen($MQ_LARGE) {
			margin: ($OVERALL_PADDING / 2) 0;
		}
	}
	h3.checkout-title {
		@include max-screen($MQ_LARGE) {
			display: none;
		}
	}
	.table {
		$imgW: 85px;
		td img {
	        width: $imgW;
	        @include max-screen($MQ_LARGE) {
				width: $imgW - 20px;
			}
	    }
		th:first-child, td:first-child {
			// width: $imgW + 20px;
			// @include max-screen($MQ_LARGE) {
			// 	width: $imgW;
			// }
		}
		th:first-child, td:first-child, th:nth-child(2), td:nth-child(2) {
	        text-align: left;
	    }
	    td {
	    	text-align: left;
	    }
	    p.mini {
	    	@include opacity(0.6);
	    	@include inline-block;
	    	padding-bottom: $MINI_TEXT / 2;
	    	font-weight: bold;
	    	@include simple-link-border();
	    	&:hover {
	    		@include opacity(1);
	    		@include simple-link-border-hover();
	    	}
	    }
	    td.wishlist {
			@include max-screen($MQ_LARGE) {
				display: none;
			}
	    }
	}
	.checkout-container {
		width: 400px;
		float: right;
		// border-top: 1px solid $white;
		margin: ($OVERALL_PADDING / 2) 0;
		padding-top: $OVERALL_PADDING / 2;
		@include max-screen($MQ_LARGE) {
			width: 100%;
			margin-top: 0;
		}
		.center-inline-child {
			width: 100%;
		}
		h4 {
			float: left;
			line-height: $XXSMALL_TEXT;
		}
		h6 {
			float: right;
		}
		button.primary-btn {
			margin-top: $OVERALL_PADDING / 2;
			width: 100%;
		}
	}
	.main-checkout-container {
		width: 100%;
		text-align: left;
		position: relative;
		& > div {
			width: 40%;
			@include max-screen($MQ_LARGE) {
				width: 100%;
			}
		}
		.form-container {
			text-align: left;
			$width: 100%;
			$halfWidth: $width * 0.45;
			float: left;
			@include max-screen($MQ_LARGE) {
				float: none;
			}
			form {
				margin: ($OVERALL_PADDING / 2) 0;
				.form-group {
					width: $width;
					float: left;
        			margin: 8px 0;
					&.half {
						width: $halfWidth;
						@include max-screen($MQ_MEDIUM) {
							width: 100%;
						}
					}
					&.half.right {
						float: right;
						@include max-screen($MQ_MEDIUM) {
							float: none;
						}
					}
					&.error {
						.form-control {
							@include simpleAnim(.6s, .0s, $easeOutQuint);
							border-color: $red;
						}
					}
				}
				label p {
					margin-bottom: 4px;
				}
				.form-control {
					width: $width;
					padding: 0;
					padding-left: 10px;
					padding-right: 10px;
					border: 1px solid $white;
					border-color: $white;
					@include simpleAnim(.6s, .0s, $easeOutQuint);
				}
			}
		}
		&.fullscreen {
			text-align: center;
			.form-container {
				@include inline-block;
				width: 30%;
				vertical-align: top;
				margin: 0 4%;
				max-width: 350px;
				float: none;
				@include max-screen($MQ_MEDIUM) {
					width: 100%;
					max-width: 100%;
					margin: 0;
				}
				label {
					text-align: left;
				}
			}
		}
		button.primary-btn {
			width: 100%;
			position: absolute;
			right: 0;
			p {
				float: right;
			}
			@include max-screen($MQ_LARGE) {
				position: static;
				width: 100%;
			}
		}
		button.primary-btn.order {
			margin-top: $OVERALL_PADDING;
		}
		button.primary-btn.sign-in, button.primary-btn.submit {
			position: absolute;
			float: right;
			left: 0;
			top: -$XSMALL_TEXT / 2;
			@include max-screen($MQ_LARGE) {
				position: static;
			}
		}
		.shipping-payment-container {
			float: right;
			@include max-screen($MQ_LARGE) {
				float: none;
				text-align: center;
			}
			.card-types {
				margin-top: $OVERALL_PADDING / 4;
				margin-bottom: $OVERALL_PADDING / 4;
				.card {
					$w: 41px;
					$h: 25px;
					width: $w;
					height: $h;
					@include inline-block;
				}
			}
		}
	}
	.primary-btn.share-wishlist {
		width: 100%;
		max-width: 200px;
	}
	.main-checkout-container.login {
		a.forgot-password {
			padding-bottom: $XXXSMALL_TEXT / 2;
			text-align: right;
			@include inline-block;
			float: right;
			@include simple-link-border();
			&:hover {
				@include simple-link-border-hover();
			}
		}
	}
	.main-checkout-container.sign-up {
		.checkbox {
			float: left;
			@include max-screen($MQ_MEDIUM) {
				float: none;
			}
		}
	}
}

#checkout-page {
	table {
		th {
			font-size: 12px;
			text-align: left;
		}
		tbody {
			td > * {
				font-size: 12px;
			}
			td:first-child {
				width: 10px;
			}
		}

		@include max-screen($MQ_MEDIUM) {
			th, td {
				padding-left: 3px;
				font-size: 10px;
				&.cart_product {
					display: none;
				}
			}
		}
	}
	.select-group.choose-delivery-address {
		width: 20%;
		margin-top: $OVERALL_PADDING / 2;
		@include inline-block;
	}
	.main-checkout-container {
		text-align: center;
		& > div {
			width: 20%;
		}
		.shipping-payment-container {
			float: none;
			@include inline-block;
			width: auto;
			margin: 0 $OVERALL_PADDING;
			text-align: left;
			p, h4 {
				text-align: left;
			}
			a {
				text-align: left;
			}
		}
	}
	.message-area {
		width: 50%;
		@include max-screen($MQ_MEDIUM) {
			width: 100%;
		}
	}

	#opc_new_account {
		text-align: center;
		width: 30%;
		display: inline-block;

		@include max-screen($MQ_MEDIUM) {
			width: 100%;
		}
		.page-subheading {
			padding-bottom: 20px;
		}
		#openLoginFormBlock {
			border-bottom: 1px solid #ffffff;
		}
		#new_account_title {
			margin-top: 20px;
		}
		.form-group, .gender-line, .date-select	 {
			margin: 8px 0;
			text-align: left;
			width: 100%;
			label {
				display: block;
				font-size: 12px;
				text-align: left;
				padding-bottom: 4px;
			}
			input {
				padding: 0;
				padding-left: 10px;
		    padding-right: 10px;
		    border: 1px solid #ffffff;
			}
			.radio-inline {
				display: inline-block;
				.radio {
					display: inline-block;
					padding-right: 10px;
				}
				label {
					display: inline-block;
				}
			}
			select {
				padding: 0px 24px 0px 12px;
				border: 1px solid #ffffff;
				border-radius: 0;
    		-webkit-appearance: none;
			}
			.row .col-xs-4 {
				display: inline-block;
				&:nth-child(1) {
					width: 20%;
				}
				&:nth-child(2) {
					width: 47%;
				}
				&:nth-child(3) {
					width: 30%;
				}
			}
			.selector {
				width: auto !important;
				span {
					padding-left: 14px;
					font-size: 10px;
				}
			}
		}
		.checkbox {
			text-align: left;
			vertical-align: bottom;
			& > label {
				padding-left: 5px;
				font-size: 12px;

				&:first-child {
					display: none;
				}
			}

			.checker {
				width: 5%;
				display: inline-block;
				vertical-align: middle;

				& + label {

				}
			}
		}
		#opc_invoice_address {
			margin-top: 40px;
		}
	}
}

#opc_delivery_methods {
	@include min-screen($MQ_MEDIUM) {
		#uniform-cgv {
			display: inline-block;
			vertical-align: middle;

			input {
				margin-left: -10px;
			}
		}
		p {
			display: inline-block;
		}
		label[for="cgv"] {
			display: inline-block;
			padding-left: 5px;

			a {
				font-size: 10px;
			}
		}
	}

	label[for="cgv"] a {
		font-size: 12px;
	}
}

#opc_payment_methods {
	.payment_module {
		a {
			text-transform: lowercase;

			&:first-letter {
				text-transform: uppercase;
			}
		}

		@include max-screen($MQ_MEDIUM) {
			&.paypal {
				padding-bottom: 50px;
			}
		}
	}
}
